extends layout

block content
  h1= title
  p 
    a(class='button', href='/loadQuestionResults') Load and Evaluate Question Results
  p 
    a(class='button', href='/loadWordResults') Load and Evaluate Word Results
  p 
    a(class='button', href='/loadTimeResults') Load Time Results