extends layout

block content
  h1= title
  p 
    a(class='button', href='/loadConvertAnswers') Load Convert Answers    
  p 
    a(class='button', href='/loadQuestionResults') Load and Evaluate Question Results
  p 
    a(class='button', href='/loadWordResults') Load and Evaluate Word Results
  p 
    a(class='button', href='/loadWordTimeResults') Load and Evaluate Word Time Results
  p 
    a(class='button', href='/loadTimeResults') Load Time Results
  p 
    a(class='button', href='/loadPollResults') Load Poll Results
  p 
    a(class='button', href='/loadPhaseResults') Load Phase Results    
  p 
    a(class='button', href='/loadFlagResults') Load Flag Results    


